@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Open+Sans&display=swap');

body {
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Open Sans, sans serif;
}

.game-bkd {
    background-image: url(../images/farm-bkground.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.welcome-text {
    font-family: Caveat, cursive;
    font-size: 7rem;
    color: #006F2B;
    text-align: center;
    margin-top:30px;
    margin-bottom: 20px;
}

.question-number {
    font-family: Caveat, cursive;
    font-size: 3rem;
    color: #000000;
    text-align: center;
    margin-top:20px;
    margin-bottom:30px;
}

.container {
    width: 800px;
    max-width: 80%;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.score-container {
    width: 800px;
    max-width: max-content;
    background-color: #fafafa;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 50px;
}

#question {
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    border: 3px solid #000000;
    background-color: #006F2B;
    border-radius: 5px;
    padding: 5px 10px;
    color: #fafafa;
    outline: none;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.btn:hover {
    border-color: #ffd700;
    box-shadow: 0 0 10px 3px;
}

.btn.correct {
    background-color: #72D346;
    color: #000000;
}

.btn.wrong {
    background-color: #FB6660;
    color: #000000;
}

.start-btn {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 20px;
    background-color: #a52a2a;
    color: #fafafa;
}

#userInput {
    font-size: 1.5rem;
    color: #006F2B;
    padding: 10px 20px;
    text-align: center;
    border: 2px solid #006F2B;
}

.next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #a52a2a;
    color: #fafafa;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.scores-correct {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #72D346;
    color: #000000;
    border: 1px solid #000000;
    letter-spacing: 1px;
    border-radius: 5px;
    gap: 10px;
}

.scores-incorrect {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #FB6660;
    color: #000000;
    border: 1px solid #000000;
    letter-spacing: 1px;
    border-radius: 5px;
    margin-left: 10px;
}

#home-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #a52a2a;
    border: 2px #000000 solid;
    border-radius: 5px;
    color: #fafafa;
    display: flex;
    justify-content: center;
    margin: auto;
    width: max-content;
    margin-top: 30px;
    text-decoration: none;
    letter-spacing: 1px;
}

.message-text {
    font-family: Caveat, cursive;
    font-size: 4rem;
    display: flex;
    justify-content: center;
    color: #006F2B;
    text-align: center;
}

.hide {
    display: none;
}

/*Small screens*/
@media all and (max-width:520px) {
    .welcome-text {
        font-size: 3rem;
    }
    .question-number {
        font-size:2rem;
    }

    .message-text {
        font-size: 2rem;
    }

    .btn {
        font-size: 15px;
    }

    #question {
        font-size: 1rem;
    }

    .scores-correct,
    .scores-incorrect {
        font-size: 0.5rem;
        padding: 5px 10px;
    }

    #userInput {
        font-size: 1rem;
        max-width: max-content;
    }
}